**/.DS_Store
.DS_Store
**/.deploy_git
node_modules
.deploy_git/*
.deploy_git
.history
.lh
**/.history
**/.lh
.history/*
.lh/*

.deploy/
.history/

# Thumbs.db
# db.json
*.log
# node_modules/
public/
.note.txt.icloud
.package.json.icloud
